/* You can add global styles to this file, and also import other style files */
$background-color: #fff; // Серый цвет фона
$text-color: #77bfa3; // Черный цвет текста
$hover-color: #00442a; // Цвет текста при наведении
$logo-font-size: 2rem; // Размер шрифта логотипа
$link-font-size: 1rem; // Размер шрифта ссылок

