@import "/src/styles.scss";


//nav bar style
.nav-wrapper {
  background-color: $background-color;
  display: flex;
  justify-content: space-between;

  .brand-logo {
    font-size: $logo-font-size;
    color: $text-color;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

  #nav-mobile {
    li {
      display: inline;
      margin-left: 20px;

      a {
        color: $text-color;
        font-weight: normal;
        font-size: $link-font-size;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}


